/*NAVBAR*/
.navBar .navbar-brand{
  display: flex;
}
.nav{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto; 
  margin: 20px;
}

.navBar {
  display: flex;
}

.nav-link {
  margin-right: 20px;
  color: #1f2e41 !important;
}
.nav-link:hover {
  color: #358ef3 !important;
}

.navbar.light-mode.accordion-button{
  background-color: #A1A61F!important;
}

.accordion-item{
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  
}

.accordion-button {
  background-color: #8C6751 !important;
  color: white !important;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.light-mode.accordion-header.accordion-button.collapsed {
  background-color: #0c0a0a !important; 
  color: rgb(226, 225, 225) !important;
}


.accordion-button:hover {
  background-color: #77533c !important;
}
.accordion-collapse.collapse.show{
  background-color:#C7CFD9;
  font-size: 17px;
  color: white !important;
}

/*HEADER*/
.header{
  width: 100%;
  max-height: 200px;
  display: flex;
  justify-content: space-between !important;
  flex-wrap: wrap;
}

.tema{
  height: 40px;
  padding: auto;
}

.header img{
  max-height: 150px;
  margin: 15px;
}

/*MAIN*/
.notificacion{
  width: 50% !important;
  margin: 32px !important;
  display: flex;
  flex-wrap: wrap;
}

.mainImg{
  height: 550px;
  width: 55%;
  margin: 20px;
}

.card{
  width: 40%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card-header {
  background-color: #8C6751 !important;
  color: white !important;
}

.light-mode.card-header {
  background-color: #383838 !important;
  color: white !important;
}

.card-body {
  background-color: #A1A61F !important;
  color: white !important;
}

.card-body.light-mode{
  background-color: #C7CFD9 !important;
  color: white !important;
}


.main{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around;
  height: auto;
}

.mb-3{
  max-width: 95%;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  margin-left: 5px;
}

.botones{
  background-color: #8C6751 !important;
  max-width: 50%;
  color: #f0f0f0 !important;
  justify-content: center !important;
  align-items: center !important;
  border-color: #77533c !important;
}

.botones:hover{
  background-color: #77533c !important;
  border-color: #77533c !important;
}

.light-mode.botones {
  background-color: #1a1919 !important;
  color: #cac8c8 !important;
  border-color: #1a1919 !important;
}
.light-mode.botones:hover{
  background-color: #807e7e !important;
  border-color: #a7a3a2 !important;
}


.custom-table {
  background-color: #A1A61F;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.custom-table.light-mode {
  background-color: #C7CFD9;

}

.custom-table th {
  font-weight: bold;
  padding: 15px;
  text-align: left;
  background-color:#898C27 !important;
}
.custom-table.light-mode th {
  background-color:#666c74 !important;
}

.custom-table td {
  padding: 12px;
  vertical-align: top;
  background-color: #A1A61F !important;
}

.custom-table.light-mode td {
  background-color: #C7CFD9 !important;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.text-uppercase.mb-4.font-weight-bold.text-warning{
  color: #a6d140 !important;
}

option{
  text-align: left;
}


/*FOOTER*/

.col-md-4.col-lg-3.col-xl-3.mx-auto.mt-3 img {
  width: 60px;
  height:60px;
  list-style-type: none;
  margin: 10px;
}

li{
  list-style: none;
}
.redes{
  display: flex;
  justify-content: center;
}
footer{
  width: 100%;
}








